.footerlinks {
    color: #b6ff00;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #4cff00;
    }

#footer1 {
    background: #343a40;
}

#footer2 {
    background: #343a40;
}
